/*FONTES*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #33A8DB, #1472B7;
}

p {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



/*---------------------*/

/*HEADER*/

/*IMAGENS*/

.logo {
    width: 248px;
    height: 214px;
}

/*---------------------*/

/*BANNER*/

.banner {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(49, 168, 221, 0.00) 100%);
}

.banner-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

button {
    color: #31A8DD;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 3.36px;
    display: flex;
    width: 326px;
    padding: 19px 91px;
    justify-content: center;
    align-items: center;
    gap: 31px;
    border: 2px solid #3BA1CD;
}

/*---------------------*/

/*MAIN*/

main {
    background: #000;
}

.modules-list {

}

.module {
    
}

#course-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#course-content h2 {
    color: #33A8DB;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6.08px;
}

#course-content p {
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#transform-world {

}

#professional-challenges {

}

/*---------------------*/

/*FOOTER*/

footer {
    border-top: 1px solid #33A8DB;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
}